@model IEnumerable<Member>

@{
    ViewData["Title"] = "Index";
}
<style>

    th, td {
        white-space: nowrap;
    }

    .table-scrollable {
        margin-top: 1rem;
    }

    .add {
        margin-top: 4rem;
    }

    .table-scrollable::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    .table-scrollable::-webkit-scrollbar {
        background-color: #F5F5F5;
    }

    .table-scrollable::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #d3dae0;
    }
</style>
<p class="add">
    <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i> Add Member</a>
</p>

<form class="form-inline my-2 my-lg-0" method="get" >
    <input class="form-control mr-sm-2" type="search" name="SearchMember" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<div class="table-scrollable" style="height: 300px; width:100%">
    <table cellspacing="0" id="table-basic" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Member Name</th>        
                <th>Father Name</th>              
                <th>Mother Name</th>      
                <th>Address</th>
                <th>Number</th>
                <th>Gender</th>
                <th>Action</th>
            </tr>
        </thead>
        @foreach(var member in Model){
            <tr>
                <td>@member.FullName</td>
                <td>@member.FatherName</td>
                <td>@member.MotherName</td>
                <td>@member.Address</td>
                <td>@member.Number</td>
                @if(@member.Gender == "1"){
                    <td>Male</td>
                }
                else if(member.Gender == "2"){
                    <td>Female</td>
                }
                else{
                    <td>Other</td>
                }
                <td>
                    <a asp-action="Update" asp-route-id="@member.Id"><i class="text-primary bi bi-pencil-square"></i></a> |
                    <a asp-action="Delete" asp-route-id="@member.Id"><i class="text-danger bi bi-trash"></i></a>
                </td>
            </tr>
        }
        <tbody>
        </tbody>
    </table>
</div>